<div class="container">
  <div class="row">
    <h1 class="text-center">Admin Passcode:</h1>
  </div>
  <div class="row text-center row-space">
    <div class="form-inline">
      <!-- insert admin form here -->
    </div>
  </div>
</div>