<div class="container">
  <div class="row text-center">
    <h1>Enter Your Phone Number Below:</h1>
    <%= form_tag("search", method: "get") do %>
    <%= text_field_tag :phone, nil, placeholder: "Phone Number", maxlength: 10, class: "col-lg-4 input-lg" %>
    <%= submit_tag "Enter", class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>