<h1>New Customer</h1>

<% if @customer.errors.any? %>
  <div id="error_explanation"></div>
    <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
    
    <ul>
      <% @customer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %> 

<%= render partial: 'form' %>

<%= link_to "Home", root_path %>