@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-image: url('retail_store.jpeg');
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center, center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// @media only screen and (max-width: 767px) {
//   body {
//     The file size of this background image is 93% smaller
//        to improve page load speed on mobile internet connections
//     background-image: url('retail_store.jpeg');
//   }
// }

#content {
  background-color: white;
  opacity: .93;
}

// Error messages
.alert {
  text-align: center
}

// Removing dot styling with lists
ul {
  list-style-type: none;
}

// create extra space between rows
.row-space {
  margin-top: 20px;
}
